@{
    ViewData["Title"] = "Dojodachi";
}

<div class="row">
    <div class="col-md-1"> </div>
    <div class="col-md-10">
        <div class="row">
            <h1 class="lead text-center well well-sm">Dojodachi</h1>
        </div>
        <div class="row text-center well well-lg">
            <div class="col-md-2"></div>
            <div class="col-md-2">
                <b>Fullness:</b> 70
            </div>
            <div class="col-md-2">
                <b>Happiness:</b> 30
            </div>
            <div class="col-md-2">
                <b>Meals:</b> 3
            </div>
            <div class="col-md-2">
                <b>Energy:</b> 100
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row text-center">
            <img src="/images/dojodachi2.gif">
        </div>
        <div class="row text-center alert alert-info">
            Log messages
        </div>
        <div class="row text-center">
            <div class="col-md-2"></div>
            <div class="col-md-2 center-block"><button value="feed" class="btn btn-default">Feed</button></div>
            <div class="col-md-2 center-block"><button value="play" class="btn btn-default">Play</button></div>
            <div class="col-md-2 center-block"><button value="work" class="btn btn-default">Work</button></div>
            <div class="col-md-2 center-block"><button value="sleep" class="btn btn-default">Sleep</button></div>
            <div class="col-md 2"></div>
        </div>
    </div>
    <div class="col-md-1"> </div>
</div>
