@{
    ViewData["Title"] = "Time Display";
    DateTime CurrentTime = DateTime.Now;
    string Date = String.Format("{0:MMM d, yyyy}", CurrentTime);
    string Time = String.Format("{0:hh:mm tt}", CurrentTime);
}

<div>
    <div class="center-block panel panel-info">
        <div class="panel-heading panel-info"><h2>The Current Time and Date</h2></div>
        <div class="panel-body panel-info">
            <h3>@Date</h3>
            <h4>@Time</h4>
        </div>
    </div>
</div>
