@model LoginRegistration.Models.LoginUser

<h3 class="thin">Login</h3>
<form asp-action="Login" asp-controller="User" method="post">
    <span asp-validation-for="LogEmail"></span>
    <div class="input-field">
        <label asp-for="LogEmail"></label>
        <input class="form-control validate" asp-for="LogEmail">
    </div>
    <div class="input-field">
        <label asp-for="LogPassword"></label>
        <input class="form-control validate" asp-for="LogPassword">
    </div>
    <button class="btn waves-effect waves-light btn amber darken-2" type="submit" name="action">Login</button>
</form>