<!DOCTYPE html>
<html>
    <body>
    <head>
        <meta charset='utf-8'>
        <title>Hello! Welcome to the Rapper API</title>
    </head>
    <h3>
        <h1>Welcome to the Rapper API</h1>
        <h2>Use the route /artists/ to get artist info.</h2>
        <h3>End-points:</h3>
        <li>Name/{string}</li>
        <li>RealName/{string}</li>
        <li>Hometown/{string}</li>
        <li>GroupId/{int}</li>

        <h2>Use the route /groups/ to get group info.</h2>
        <h3>End-points:</h3>
        <li>Name/{string}</li>
        <li>GroupId/{int}</li>
        <li>ListArtists=?(true/false)</li>
    </body>
</html>