@model TheWall.Models.Comment 

<form asp-action="post" asp-controller="Wall" method="post" id="post">
    <span asp-validation-for="UserComment"></span>
    <div class="input-field">
        <label asp-for="UserComment">Leave a Comment:</label>
        <textarea class="materialize-textarea validate" asp-for="UserComment" data-length="1000"></textarea>
    </div>
    <button class="btn waves-effect waves-light btn amber darken-2" type="submit" name="action">Post Comment</button>
</form>