@{
    ViewData["Title"] = "Home Page";
}

<div class="row section">
    <div class="col s12 m6 l5" id="message-form">@Html.Partial("./Partials/MessageForm")</div>
    <div class="col s12 m6 l5" id="comment-form">@Html.Partial("./Partials/CommentForm")</div>
</div>
