@{
    ViewData["Title"] = "Home Page";
}

<div class="row section">
    <div class="col s12 m6 l5" id="register-form">@Html.Partial("./Partials/RegisterForm")</div>
    <div class="col s0 m1 l2"></div>
    <div class="col s12 m6 l5" id="login-form">@Html.Partial("./Partials/LoginForm")</div>
</div>
