@{
    ViewData["Title"] = "MovieAPI";
}

<div class="row">
    <div class="col-sm-1"> </div>
    <div class="col-sm-10">
        <div class="row">
            <h1 class="text-center alert alert-default">MovieAPI</h1>
        </div>
        <div class="row text-center well well-lg">
            <div class="col-sm-3">
            </div>
            <div class="col-sm-3">
            </div>
            <div class="col-sm-3">
            </div>
            <div class="col-sm-3">
            </div>
        </div>
        <div class="row text-center">
        </div>
        <div class="row text-center alert alert-default">
        </div>
        <div class="row text-center">
            <div class="col-sm-3 center-block">
                @ViewBag.Movie;
                <form action="/search" method="post">
                    <input type="submit" value="Princess Bride" name="search" class="btn btn-default btn-play"></input>
                </form>
            </div>
            <div class="col-sm-3 center-block">          
            </div>
            <div class="col-sm-3 center-block">         
            </div>
            <div class="col-sm-3 center-block">        
            </div>
            <div class="col-sm-12 center-block">
            </div>
        </div>
    </div>
    <div class="col-sm-1"> </div>
</div>